# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
*.egg
*.whl
*.venv/
*.env

# Logs
logs/
*.log

# Jupyter Notebook
.ipynb_checkpoints

# IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Operating System files
.DS_Store
Thumbs.db

# Output files
output/
*.csv
*.json